<div class="container">
    <div class="row down">
        <h1>Jazwares Inventory</h1>
        <h2 class="down">Add Assortment Here</h2>
        <div class="row spacing down">
            <form class="form-group down" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <label for="assortmentNumber">Provide an assortment number:</label>
                <input type="number" 
                       id="assortmentNumber" 
                       name="assortmentNumber" 
                       class="form-control"
                       [ngModel]="assortment?.assortmentNumber">

                <label for="description">Description</label>
                <input type="text" 
                       id="description" 
                       name="description" 
                       class="form-control"
                       [ngModel]="assortment?.description">

                <button type="submit" class="btn btn-success down">Add Assortment</button>
            </form>
        </div>
    </div>
    <div class="row spacing down">
            <nav>
                <ul class="nav nav-tabs col-md-12 offset-md-2" id="myTab" role="tablist" >
                    <li class="nav-item right">
                        <a class="nav-link" 
                            id="assortments-tab" 
                            data-toggle="tab" 
                            role="tab" 
                            aria-controls="assortment" 
                            aria-selected="true" 
                            routerLinkActive="active" 
                            [routerLink]="['assortments']">Assortments and Items</a>
                    </li>
                    <li class="nav-item right">
                        <a class="nav-link" 
                            id="prepare-tab" 
                            data-toggle="tab" 
                            role="tab" 
                            aria-controls="prepare" 
                            aria-selected="false" 
                            routerLinkActive="active" 
                            [routerLink]="['prepareItem']">Prepare Items</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row spacing down">
            <router-outlet></router-outlet>
        </div>
</div>
