<div class="container">
    <div class="row down">
        <h1>Jazwares Inventory</h1>
    </div>
    <div class="row spacing down">
            <nav>
                <ul class="nav nav-tabs col-md-12 offset-md-2" id="myTab" role="tablist" >
                    <li class="nav-item right">
                        <a class="nav-link" 
                            id="assortments-tab" 
                            data-toggle="tab" 
                            role="tab" 
                            aria-controls="assortment" 
                            aria-selected="true" 
                            routerLinkActive="active" 
                            [routerLink]="['assortments']">Assortments and Items</a>
                    </li>
                    <li class="nav-item right">
                        <a class="nav-link" 
                            id="prepare-tab" 
                            data-toggle="tab" 
                            role="tab" 
                            aria-controls="prepare" 
                            aria-selected="false" 
                            routerLinkActive="active" 
                            [routerLink]="['prepareItem']">Prepare Items</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row spacing down">
            <router-outlet></router-outlet>
        </div>
</div>
