<div class="container">
    <div class="row offset-md-3 down">
        <h1 class="signUpHeader">Sign Up Here</h1>
    </div>
    <div class="row">
        <div class="offset-md-4">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form-group down">
                <div class="row">
                    <label for="email">Email Address:</label>
                    <input type="text" id="email" name="email" [ngModel]="user?.email" class="form-control">
                </div>
                <div class="row">
                    <label for="pin">Password:</label>
                    <input type="password" id="pin" name="pin" [ngModel]="user?.pin" class="form-control">
                </div>
                <div class="row">
                    <label for="confirmPin">Re-enter Password:</label>
                    <input type="password" id="confirmPin" name="confirmPin" [ngModel]="user?.confirmPin" class="form-control">
                </div>
                <div class="row">
                <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>