<div class="container">
    <div *ngIf="box">
        <div class="row">
            <h3>Tracking Number:</h3>
        </div>
        <div class="row">
            <p>{{box.tracking}}</p>
        </div>
        <div class="row">
            <h3>Addressed To:</h3>
        </div>
        <div class="row">
            <p>{{box.addressedTo}}</p>
        </div>
    <form class="form-group">
        <div>
            <label for="signedBy">Signed by:</label>
            <input type="text" id="signedBy" name="signedBy" [ngModel]="box?.signedBy" class="form-control col-md-4">
        </div>
            <button type="button" (click)="goBack()" class="btn btn-secondary down">Back</button>
            <button type="submit" (click)="deleteBox(box)" class="btn btn-danger down">Sign Out</button>
         </form>
    </div>
</div>