<div class="container" style="margin-top: 60px;">
    <div *ngIf="shipment">
        <div class="row">
            <h3 class="down">Master Tracking</h3>
        </div>
        <div class="row">
            <p>{{shipment.masterTracking}}</p>
        </div>
        <div class="row">
            <h3>Boxes</h3>
            <div *ngFor="let box of boxes">
                
            </div>
        </div>
        <div class="row">
            <p>{{box.addressedTo}}</p>
        </div>
        <form (ngSubmit)="onSubmit(f)" class="form-group" #f="ngForm">
            <div>
                <label for="signedBy">Signed by:</label>
                <input type="text" id="signedBy" name="signedBy" [ngModel]="erasedBox?.signedBy" class="form-control col-md-4">
            </div>
                <button type="button" (click)="goBack()" class="btn btn-secondary down">Back</button>
                <button type="submit" class="btn btn-danger down">Sign Out</button>
        </form>
    </div>
</div>