<div class="container">
    <div class="row">
        <h1 class="down">Sign In your Box</h1>
    </div>

    <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="myStyle">
        <mat-form-field>
            <input matInput placeholder="Tracking Number:" type="text" name="tracking" id="tracking" [ngModel]="box?.tracking" class="left">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Addressed To:" name="addressedTo" [ngModel]="box?.addressedTo">
                <mat-option *ngFor="let employee of employees" [value]="employee.name">
                    {{employee.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <button type="submit" mat-button color="primary">Add Box</button>
        
    </form>

    <div class="row">
        <h1 class="down">Create new Employee</h1>
    </div>

    <div class="row">
        <form (ngSubmit)="onSubmitEmployee(e)" #e="ngForm" class="form-group down form-inline">
            <label for="name" class="left">Name:</label>
            <input type="text" name="name" id="name" ngModel class="form-control left">

            <label for="email" class="left">Email:</label>
            <input type="text" name="email" id="email" ngModel class="form-control left">

            <button type="submit" class="btn btn-success left">Submit</button>
        </form>
    </div>
  <div class="col down">
      <h1>Boxes to Sign Out</h1>
  </div>
  <div class="row down">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tracking Number</th>
          <th scope="col">Addressed To</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of boxes"
            [@boxEnter]
        >
          <th scope="row">{{box.tracking}}</th>
          <td>{{box.addressedTo}}</td>
          <button 
            type="button" 
            [routerLink]="['/boxtonotify', box._id, 'boxnotify']" 
            class="btn btn-info right">Notify</button>
          <button 
            type="button" 
            class="btn btn-warning right" 
            (click)="editBox(box)">Edit</button>
          <button 
            type="button" 
            [routerLink]="['/boxtosignout', box._id, 'boxsignout']" 
            class="btn btn-danger right">Sign Out</button>
        </tr>
      </tbody>
  </table>
  </div>
</div>



