<div class="container" style="margin-top: 60px;">
    <div class="row">
        <h1 class="down boxHeader">Sign In your Box</h1>
    </div>

    <form [formGroup]="boxForm" (ngSubmit)="onSubmit()" style="width: 30%;" class="form-group">

        <label>From</label>
        <input 
            type="text" 
            placeholder="From" 
            name="from" 
            formControlName="from"
            class="form-control"
        />

        <label>Addressed To</label>
        <input 
            type="text" 
            placeholder="Addressed To" 
            name="addressedTo" 
            formControlName="addressedTo"
            class="form-control"
        />

        <label>Number of Boxes</label>
        <input 
            type="number" 
            placeholder="Number Of Boxes" 
            name="numberOfBoxes" 
            formControlName="numberOfBoxes"
            class="form-control"
        />

        <label>Master Tracking</label>
        <input 
            type="text" 
            placeholder="Master Tracking" 
            name="masterTracking" 
            formControlName="masterTracking"
            class="form-control"
        />

        <div class="alert alert-primary" role="alert" style="margin-top: 40px;">
            Add all the shipments boxes below!!
        </div>

        <button mat-button color="primary" type="button" (click)="onAddBoxes()">Add boxes</button>

        <div style="display: flex; flex-direction: row;">
            <div formArrayName="tracking" style="margin-left: 30px;">
                <mat-form-field *ngFor="let inputBox of boxForm.get('tracking').controls; let i = index">
                        <input matInput type="text" placeholder="Tracking:" [formControlName]="i">
                </mat-form-field>
            </div>
            <div formArrayName="addressed">
                <mat-form-field *ngFor="let inputBox of boxForm.get('addressed').controls; let i = index">
                    <input matInput type="text" placeholder="Addressed To:" [formControlName]="i">
                </mat-form-field>
            </div>
        </div>
        
        <button type="submit" mat-raised-button color="primary" [disabled]="!boxForm.valid">Submit Shipment</button>
    </form>
    

    <div class="row">
        <h1 class="down boxHeader">Create new Employee</h1>
    </div>

    <div class="row">
        <form (ngSubmit)="onSubmitEmployee(e)" #e="ngForm" class="form-group down form-inline">
            <mat-form-field>
                    <input matInput placeholder="Name" type="text" name="name" id="name" ngModel class="left">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" type="text" name="email" id="email" ngModel class="form-control left">
            </mat-form-field>

            <button type="submit" mat-button class="left" color="primary">Submit</button>
        </form>
    </div>
  <div class="col down">
      <h1 class="boxHeader">Shipments</h1>
  </div>
  <div class="row down">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem; margin-left: 40px;" *ngFor="let shipment of shipments" (click)="getBoxesFromShipment(shipment)">
            <div class="card-header">Shipment {{shipment.masterTracking}}</div>
            <div class="card-body">
                <h5 class="card-title">From: {{shipment.from}} / To: {{shipment.addressedTo}}</h5>
                <p class="card-text">{{shipment.addressedTo}} has {{shipment.numberOfBoxes}} boxes ready to be picked up</p>
                <p>Arrived {{shipment.date | date}}</p>
            </div>
        </div>
  </div>
</div>



