<div class="container">
    <div class="row">
        <h1 class="down boxHeader">Sign In your Box</h1>
    </div>

    <form [formGroup]="boxForm" (ngSubmit)="onSubmit()" class="myStyle">
        <div formGroupName="boxData">
            <mat-form-field>
                    <input 
                        matInput 
                        placeholder="Tracking Number:" 
                        type="text" 
                        name="tracking" 
                        id="tracking" 
                        class="left"
                        formControlName="tracking"
                    >
                </mat-form-field>
                <span 
                    *ngIf="!boxForm.get('boxData.tracking').valid && boxForm.get('boxData.tracking').touched"
                    class="help-block">Please enter a valid input</span>
        
                <mat-form-field>
                    <mat-select placeholder="Addressed To:" name="addressedTo" formControlName="addressedTo">
                        <mat-option 
                            *ngFor="let employee of employees" 
                            [value]="employee.name"
                            name="addressedTo"
                        >
                            {{employee.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span 
                    *ngIf="!boxForm.get('boxData.addressedTo').valid && boxForm.get('boxData.addressedTo').touched"
                    class="help-block">Please enter a valid input</span>
        </div>
        <div formArrayName="boxes">
            <h4>Boxes</h4>
            <button 
                mat-button 
                color="primary" 
                type="button" 
                (click)="onAddBoxes()">Add boxes</button>
            <div *ngFor="let inputBox of boxForm.get('boxes').controls; let i = index">
                <input type="text" [formControlName]="i.tracking">
                <input type="text" [formControlName]="i.addressedTo">
            </div>
        </div>
        
        <button type="submit" mat-button color="primary" [disabled]="!boxForm.valid">Submit Shipment</button>
    </form>
    

    <div class="row">
        <h1 class="down boxHeader">Create new Employee</h1>
    </div>

    <div class="row">
        <form (ngSubmit)="onSubmitEmployee(e)" #e="ngForm" class="form-group down form-inline">
            <mat-form-field>
                    <input matInput placeholder="Name" type="text" name="name" id="name" ngModel class="left">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" type="text" name="email" id="email" ngModel class="form-control left">
            </mat-form-field>

            <button type="submit" mat-button class="left" color="primary">Submit</button>
        </form>
    </div>
  <div class="col down">
      <h1 class="boxHeader">Boxes to Sign Out</h1>
  </div>
  <div class="row down">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Tracking Number</th>
          <th scope="col">Addressed To</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of boxes"
            [@boxEnter]
        >
          <th scope="row">{{box.tracking}}</th>
          <td>{{box.addressedTo}}</td>
          <button 
            mat-button
            type="button" 
            [routerLink]="['/boxtonotify', box._id, 'boxnotify']" 
            color="primary"
            >Notify</button>
          <button 
            mat-button
            type="button"
            (click)="editBox(box)">Edit</button>
          <button 
            mat-button
            type="button" 
            [routerLink]="['/boxtosignout', box._id, 'boxsignout']" 
            color="warn"
            >Sign Out</button>
        </tr>
      </tbody>
  </table>
  </div>
</div>



