<div class="container" style="margin-top: 100px;">
        <h2>Company Name's Inventory</h2>

        <div class="example-container">
            <form #f="ngForm" (ngSubmit)="assortmentSubmit(f)">
                <mat-form-field appearance="legacy">
                    <input 
                        matInput 
                        placeholder="Assortment Number" 
                        name="assortment" 
                        [ngModel]="assortment?.assortmentNumber">
                </mat-form-field>
                    
                <mat-form-field>
                    <input 
                        matInput 
                        placeholder="description" 
                        name="description"
                        [ngModel]="assortment?.description">
                </mat-form-field>
                    
                <button mat-button type="submit">Add Assortment</button>
                <button *ngIf="assortment" mat-raised-button type="button" color="primary" (click)="cancelEdit()">Cancel</button>
            </form>
        </div>

        <!--Assortments list -->
        <mat-list role="list">
            <h3 matSubheader>Assortments</h3>
            <mat-list-item role="listitem" *ngFor="let assortment of assortments">
                <p class="col-6">{{assortment.assortmentNumber}}: {{assortment.description}}</p>
                <button mat-button color="primary" (click)="onDelete(assortment)">Delete</button>
                <button mat-button color="primary" (click)="onUpdate(assortment)">Update</button>
                <button 
                    mat-button 
                    color="primary" 
                    (click)="onGoToDetail(assortment)">Detail</button>
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <!--Orders list-->
        <mat-list role="list">
            <h3 matSubheader>Orders</h3>
            <mat-list-item role="listitem" *ngFor="let order of orders">
                <p class="col-6">{{order.orderNumber}}: {{order.retailer}} / {{order.requestedBy}}</p>
                <button mat-button color="primary" (click)="onDeleteOrder(order)">Delete</button>
                <button mat-button color="primary" (click)="onUpdateOrder(order)">Update</button>
                <button 
                    mat-button 
                    color="primary" 
                    (click)="goToOrder(order)">Detail</button>
            </mat-list-item>
        </mat-list>
        
        <button mat-button color="primary" (click)="addItem()">Add Order</button>
                            <form *ngIf="isActive" #f="ngForm" (ngSubmit)="orderSubmit(f)">
                                    <mat-form-field appearance="legacy">
                                        <input 
                                            matInput 
                                            placeholder="Order Number" 
                                            name="orderNumber" 
                                            [ngModel]="order?.orderNumber">
                                    </mat-form-field>
                                        
                                    <mat-form-field>
                                        <input 
                                            matInput 
                                            placeholder="Requested By" 
                                            name="requestedBy"
                                            [ngModel]="order?.requestedBy">
                                    </mat-form-field>
        
                                    <mat-form-field>
                                        <input
                                            matInput
                                            placeholder="Retailer"
                                            name="retailer"
                                            [ngModel]="order?.retailer">
                                    </mat-form-field>
        
                                    <mat-form-field>
                                        <input
                                            matInput
                                            placeholder="boxWidth"
                                            name="boxWidth"
                                            [ngModel]="order?.boxWidth">
                                    </mat-form-field>
        
                                    <mat-form-field>
                                        <input
                                            matInput
                                            placeholder="boxLength"
                                            name="boxLength"
                                            [ngModel]="order?.boxLength">
                                    </mat-form-field>
        
                                    <mat-form-field>
                                        <input
                                            matInput
                                            placeholder="boxHeight"
                                            name="boxHeight"
                                            [ngModel]="order?.boxHeight">
                                    </mat-form-field>
                                        
                                    <button mat-button type="submit">Submit</button>
                                    <button mat-raised-button color="primary" type="button" (click)="cancelOrderEdit()">Cancel</button>
                                </form>
</div>
  