<div class="container">
        <h2>Company Name's Inventory</h2>

        <div class="example-container">
            <form #f="ngForm" (ngSubmit)="assortmentSubmit(f)">
                <mat-form-field appearance="legacy">
                    <input 
                        matInput 
                        placeholder="Assortment Number" 
                        name="assortment" 
                        [ngModel]="assortment?.assortmentNumber">
                </mat-form-field>
                    
                <mat-form-field>
                    <input 
                        matInput 
                        placeholder="description" 
                        name="description"
                        [ngModel]="assortment?.description">
                </mat-form-field>
                    
                <button mat-button type="submit">Add Assortment</button>
            </form>
        </div>
        <mat-grid-list cols="4">
                <h3>Assortments</h3>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                        <mat-accordion style="width: 70%;">
                                <mat-expansion-panel *ngFor="let assortment of assortments" class="panel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{assortment.assortmentNumber}}
                                        </mat-panel-title>
                        
                                        <mat-panel-description>
                                            {{assortment.description}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                  
                                    <mat-form-field>
                                        <input matInput placeholder="First name">
                                    </mat-form-field>
                        
                                    <mat-action-row>
                                        <button mat-button color="primary" (click)="onDelete(assortment)">Delete</button>
                                        <button mat-button color="primary" (click)="onUpdate(assortment)">Update</button>
                                        <button 
                                            mat-button 
                                            color="primary" 
                                            (click)="onGoToDetail(assortment)">Detail</button>
                                    </mat-action-row>
                                </mat-expansion-panel>
                            </mat-accordion>
                </mat-grid-tile>
                <h3>Orders</h3>
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                        <mat-accordion style="width: 70%;">
                                <mat-expansion-panel *ngFor="let order of orders" class="panel">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{order.orderNumber}}
                                        </mat-panel-title>
                        
                                        <mat-panel-description>
                                            {{order.retailer}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <p>{{order.orderNumber}} {{order.retailer}} {{order.requestedBy}}</p>
                                    <mat-action-row>
                                        <button mat-button color="primary" (click)="onDeleteOrder(order)">Delete</button>
                                        <button mat-button color="primary" (click)="onUpdate(assortment)">Update</button>
                                        <button 
                                            mat-button 
                                            color="primary" 
                                            (click)="goToOrder(order)">Detail</button>
                                    </mat-action-row>
                                </mat-expansion-panel>
                            </mat-accordion>
                            
                </mat-grid-tile>
        </mat-grid-list>
        
        <button mat-button color="primary" (click)="addItem()">Add Order</button>
                            <form *ngIf="isActive" #f="ngForm" (ngSubmit)="orderSubmit(f)">
                                    <mat-form-field appearance="legacy">
                                        <input 
                                            matInput 
                                            placeholder="Order Number" 
                                            name="orderNumber" 
                                            [ngModel]="order?.orderNumber">
                                    </mat-form-field>
                                        
                                    <mat-form-field>
                                        <input 
                                            matInput 
                                            placeholder="Requested By" 
                                            name="requestedBy"
                                            [ngModel]="order?.requestedBy">
                                    </mat-form-field>
        
                                    <mat-form-field>
                                        <input
                                            matInput
                                            placeholder="Retailer"
                                            name="retailer"
                                            [ngModel]="order?.retailer">
                                    </mat-form-field>
        
                                    <mat-form-field>
                                        <input
                                            matInput
                                            placeholder="boxWidth"
                                            name="boxWidth"
                                            [ngModel]="order?.boxWidth">
                                    </mat-form-field>
        
                                    <mat-form-field>
                                        <input
                                            matInput
                                            placeholder="boxLength"
                                            name="boxLength"
                                            [ngModel]="order?.boxLength">
                                    </mat-form-field>
        
                                    <mat-form-field>
                                        <input
                                            matInput
                                            placeholder="boxHeight"
                                            name="boxHeight"
                                            [ngModel]="order?.boxHeight">
                                    </mat-form-field>
                                        
                                    <button mat-button type="submit">Submit</button>
                                </form>
</div>
  