<div *ngIf="assortment">
    <h2>{{assortment.description}}</h2>
    <h2>{{assortment._id}}</h2>
    <h3>{{assortment.assortmentNumber}}</h3>
    <button mat-button type="button" (click)="goBack()">Back</button>
    <div>
        <form #f="ngForm" (ngSubmit)="onAddNewItem(f)">
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="Assortment Number" 
                    name="assortment" 
                    [ngModel]="item?.assortment">
            </mat-form-field>
        
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="Item Number" 
                    name="itemNumber" 
                    [ngModel]="item?.assortmentNumber">
            </mat-form-field>
        
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="description" 
                    name="description" 
                    [ngModel]="item?.description">
            </mat-form-field>
        
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="quantity" 
                    name="quantity" 
                    [ngModel]="item?.quantity">
            </mat-form-field>
        
            <button mat-button type="submit">Add Item</button>
        </form>
    </div>
        <mat-card class="item-card" *ngFor="let item of items">
            <mat-card-header>
              <mat-card-title>{{item.description}}</mat-card-title>
              <mat-card-subtitle>{{item.itemNumber}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                {{item.quantity}}
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
</div>

