<div class="container" *ngIf="assortment">
    <div>
        <span class="separator"></span>
        <button class="backButton" mat-button type="button" (click)="goBack()">Back</button>
        <h2>{{assortment.description}}</h2>
        <h3>{{assortment.assortmentNumber}}</h3>
    </div>
    <div>
        <form #f="ngForm" (ngSubmit)="onAddNewItem(f)">
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="Assortment Number" 
                    name="assortment" 
                    [ngModel]="assortment.assortmentNumber">
            </mat-form-field>
        
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="Item Number" 
                    name="itemNumber" 
                    [ngModel]="item?.assortmentNumber">
            </mat-form-field>
        
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="description" 
                    name="description" 
                    [ngModel]="item?.description">
            </mat-form-field>
        
            <mat-form-field appearance="legacy">
                <input 
                    matInput 
                    placeholder="quantity" 
                    name="quantity" 
                    [ngModel]="item?.quantity">
            </mat-form-field>

            <input type="file" name="image" (change)="grabImage($event)" ngModel/>
        
            <button mat-button type="submit">Add Item</button>
        </form>
    </div>
        <mat-card class="item-card" *ngFor="let item of items">
            <mat-card-header>
                <mat-card-title>{{item.description}}</mat-card-title>
                <mat-card-subtitle>{{item.itemNumber}}</mat-card-subtitle>
            </mat-card-header>
            <img src="../../../assets//background.jpg"/>
            <mat-card-content>
                <p>{{item.quantity}}</p>
            </mat-card-content>
        </mat-card>
</div>

