<div class="container">
    <div class="row">
        <label>Search by brand name:</label>
        <input #searchBox 
                type="text" 
                name="search" 
                id="search" 
                class="form-control">
        <button type="button" 
                class="btn btn-success down"
                (click)="search(searchBox.value)">Search</button>

        <ul class="search-result">
            <li *ngFor="let item of items" >
                <a routerLink="/detail/{{hero.id}}">
                {{item.itemNumber}} {{item.description}}
                </a>
            </li>
        </ul>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Item Number</th>
                <th>Description</th>
                <th>Date Signed In</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{item.itemNumber}}</td>
                <td>{{item.description}}</td>
                <td>{{item.date}}</td>
                <td>{{item.quantity}}</td>
                <td>
                    <form class="form-inline">
                        <label for="qtySignOut">How many Items are you signing Out</label>
                        <input type="number" id="qtySignOut" name="qtySignOut" class="form-control">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
